@using Congratulator.Data.Models
@model List<Person>
@{
    ViewData["Title"] = "Home Page";
}

 <div class="container-fluid">
     <div class="row">
         <nav class="nav nav-pills flex-column flex-sm-row">
             <a class="button-test flex-sm-fill text-sm-center nav-link" asp-action="Index" asp-route-date="@DateTime.Today.AddDays(-1).ToString()" onclick="colorButton(this)">Вчера</a>
             <a class="button-test flex-sm-fill text-sm-center nav-link" asp-action="Index" asp-route-date="@DateTime.Today.ToString()" onclick="colorButton(this)">Сегодня</a>
             <a class="button-test flex-sm-fill text-sm-center nav-link" asp-action="Index" asp-route-date="@DateTime.Today.AddDays(1).ToString()" onclick="colorButton(this)">Завтра</a>
             <a class="button-test flex-sm-fill text-sm-center nav-link" asp-action="Index" asp-route-date="@DateTime.Today.AddDays(2).ToString()" onclick="colorButton(this)">@DateTime.Now.AddDays(2).ToString("dd.MM")</a>
             <a class="button-test flex-sm-fill text-sm-center nav-link" asp-action="Index" asp-route-date="@DateTime.Today.AddDays(3).ToString()" onclick="colorButton(this)">@DateTime.Now.AddDays(3).ToString("dd.MM")</a>
             <a class="button-test flex-sm-fill text-sm-center nav-link" asp-action="Index" asp-route-date="@DateTime.Today.AddDays(4).ToString()" onclick="colorButton(this)">@DateTime.Now.AddDays(4).ToString("dd.MM")</a>
             <a class="button-test flex-sm-fill text-sm-center nav-link" asp-action="Index" asp-route-date="@DateTime.Today.AddDays(5).ToString()" onclick="colorButton(this)">@DateTime.Now.AddDays(5).ToString("dd.MM")</a>
             <a class="button-test flex-sm-fill text-sm-center nav-link" asp-action="Index" asp-route-date="@DateTime.Today.AddDays(6).ToString()" onclick="colorButton(this)">@DateTime.Now.AddDays(6).ToString("dd.MM")</a>
        </nav>
     </div>
 <div class="row rounded-3" style="background-color:#695e97;box-shadow:0 1px 3px #5b4343;">
    @if(Model.Count==0){
        <h1 style="color:#ffffff">В этот день дней рождений нет :(</h1>
    }
</div>
    @if (Model.Count!=0)
    {
        <div class="row">
    @foreach(Person p in @Model)
	{
        <div class="col-md-3 m-4 rounded-3" style="box-shadow:0 1px 3px #5b4343; padding:1vh; background-color:#695e97">
            <div>
                <img class="img-fluid rounded-3 rounded m-auto d-block" style="height:40vh; object-fit: contain" src="@p.AvatarUrl()"/>
            </div>
            <div style="text-align:center"><h2 style="color:#ffffff">@p.Name @p.Surname</h2></div>
            @if(@p.Age(DateTime.Now)==-1){
            <div style="text-align:center"><p style="color:#ffffff">Человек еще не родился!</p></div>
            }
            else
            {
                <div style="text-align:center"><p style="color:#ffffff">@p.DateOfBirth.ToString("M") исполнится @p.Age(DateTime.Now)</p> </div>
            }
            @if (((p.YearLastCongratulations<DateTime.Today.Year)||(p.YearLastCongratulations==null))&&(p.DateOfBirth.Month==DateTime.Today.Month)&&(p.DateOfBirth.Day==DateTime.Today.AddDays(-1).Day))
            {
                <div class="rounded-3" style="text-align:center; background-color:#ed6c6c">
                    <p style="color:#695e97">Вы вчера не поздравили</p>
                </div>
            }
            else if (p.YearLastCongratulations == DateTime.Today.Year)
            {
                <div class="rounded-3" style="text-align:center; background-color:#ffffff">
                    <p style="color:#695e97">Человек поздравлен</p>
                </div>
            }
            else
            {
                <div class="rounded-3" style="text-align:center; background-color:#86cc93">
                    <a asp-controller="Person" asp-action="Congratulate" asp-route-contr="Home" asp-route-act="Index"
                    asp-route-id="@p.Id" asp-route-year="@DateTime.Today.Year"><p style="color:#ffffff">Поздравить в этом году</p></a>
                </div>
            }
                <div style="text-align:center">
                @if(p.YearLastCongratulations==null){
                    <p style="color:#b1afaf">Вы не поздравляли ни разу</p>
                }
                else
                {
                    <p style="color:#b1afaf">Вы поздравляли в @p.YearLastCongratulations году</p>
                }
                </div> 
            </div>       
	    }
        </div>
        }
 </div>